@charset "UTF-8";
/*breakpoints*/
/*a map*/
/*header*/
/*media querries*/
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  /*boxsizing*/
  margin-left: 0;
  margin-right: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/*police de caractere*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

.menu-carte h1 {
  font-family: "Shrikhand", cursive;
}

header {
  margin-top: 25px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #f6f6f6;
  width: 100vw;
}
header .presentation {
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  width: 100%;
}
header .presentation-location {
  background-color: #eaeaea;
}
@media (min-width: 992px) {
  header {
    margin-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #f6f6f6;
    width: 100vw;
    height: 50vh;
  }
  header .presentation {
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    width: 100%;
  }
  header .presentation-location {
    background-color: #eaeaea;
  }
}

nav {
  height: 60px;
  background-color: #fff;
  /*shadow navbar*/
  -webkit-box-shadow: 1px 18px 17px -4px #f6f6f6;
  box-shadow: 1px 18px 17px -4px #f6f6f6;
}
nav .logo {
  width: 100%;
  height: 40px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (max-width: 922px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}

.restaurant-wrapper h1 {
  text-align: center;
}
@media (min-width: 992px) {
  .restaurant-wrapper {
    /*descktop*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 15px;
  }
}
@media (max-width: 922px) {
  .restaurant-wrapper {
    /*tablet*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 15px;
  }
}
@media (max-width: 768px) {
  .restaurant-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.restaurant-group {
  /*conteneur de deux rest*/
}
.restaurant-group a {
  color: black;
}
@media (min-width: 992px) {
  .restaurant-group {
    /*tablet*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-left: 15px;
  }
}
@media (max-width: 922px) {
  .restaurant-group {
    /*tablet*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .restaurant-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
}

.fonctionnement-wrapper {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
@media (min-width: 992px) {
  .fonctionnement-wrapper {
    width: 100%;
    padding: 5px;
    text-align: center;
  }
}
@media (max-width: 922px) {
  .fonctionnement-wrapper {
    /*tablet*/
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .fonctionnement-wrapper {
    /*mobile*/
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*flex column*/
    text-align: center;
  }
}

.fonctionnement-elements {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .fonctionnement-elements {
    /*descktop*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width: 922px) {
  .fonctionnement-elements {
    /*tab*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .fonctionnement-elements {
    /*mobile*/
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /*flex column*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  footer {
    /*descktop*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: #353535;
    position: sticky;
    top: 100%;
    margin-bottom: 0px;
    bottom: 0px;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: auto;
    padding-right: auto;
  }
  footer a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media (max-width: 922px) {
  footer {
    /*tablet*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: #353535;
    top: 100%;
    margin-bottom: 0px;
    bottom: 0px;
    width: 100%;
    padding-top: 35px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  footer a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  footer {
    /*mobile*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: #353535;
    position: sticky;
    top: 100%;
    margin-bottom: 0px;
    bottom: 0px;
    width: 100%;
    padding-top: 35px;
    padding-left: 45px;
  }
  footer a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.logo-footer {
  margin-bottom: 15px;
}
.logo-footer img {
  height: 30px;
  width: 150px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
}
@media (max-width: 768px) {
  .logo-footer img {
    /*mobile*/
    height: 20px;
    width: 100px;
  }
}

.restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 7px 9px 17px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 9px 17px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
  width: 40%;
  min-width: fit-content;
}
.restaurant a {
  padding-left: 20px;
  padding-right: 20px;
}
.restaurant a p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-between;
}
.restaurant img {
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  height: 200px;
  width: 100%;
}
@media (min-width: 992px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 7px 9px 17px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 7px 9px 17px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    width: 40%;
    min-width: fit-content;
  }
  .restaurant img {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    height: 200px;
    width: 100%;
  }
}
@media (max-width: 922px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 7px 9px 17px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 7px 9px 17px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    width: 100%;
    min-width: fit-content;
  }
  .restaurant img {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    height: 200px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 7px 9px 17px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 7px 9px 17px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    width: 100%;
    min-width: fit-content;
  }
  .restaurant img {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    height: 200px;
    width: 100%;
  }
}

.button-shoutout {
  /*bouton page d'accueil*/
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 15px;
  width: fit-content;
  margin-top: 25px;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  /*animation*/
}
.button-shoutout a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.button-shoutout::after {
  border-radius: 40px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.button-shoutout:hover::after {
  opacity: 1;
}

.button-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.button_commander {
  /*bouton de commande*/
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 25px;
  width: fit-content;
  /*animation*/
  transform: scale(1);
  transition: transform 400ms;
  margin-left: auto;
  margin-right: auto;
  /*animation*/
}
.button_commander a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.button_commander:hover {
  transform: scale(1.15);
}

.plat {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 7px 9px 17px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 9px 17px 1px rgba(0, 0, 0, 0.4);
  padding: 8px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 5px;
  cursor: pointer;
}
.plat-textes {
  width: 100%;
}
.plat-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-between;
}
.plat-check {
  position: absolute;
  overflow: hidden;
  width: 0%;
  right: 0;
  bottom: 0;
  top: 0px;
  height: 100%;
  width: 20%;
  padding: 30px;
  background-color: #99e2d0;
  color: antiquewhite;
  font-size: 40px;
  border-radius: 0px 15px 15px 0px;
  opacity: 0;
  transform: translate(10px, 0);
  transition: all 300ms ease-in;
  transform-origin: right;
}
.plat:active .plat-check {
  opacity: 1;
  transform: scale(1);
}
.plat:active .plat-textes {
  width: 75%;
}

.number {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 10px 12px;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-30%, 80%);
}

.fonction {
  position: relative;
  margin-bottom: 25px;
  padding: 15px;
  background-color: #eaeaea;
  width: 350px;
  margin-left: 15px;
  min-width: fit-content;
  border-radius: 15px;
  -webkit-box-shadow: 7px 9px 17px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 9px 17px 1px rgba(0, 0, 0, 0.4);
}
.fonction-text {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
}
.fonction-text i {
  margin-right: 15px;
}
.fonction .material-icons {
  color: gray;
}
.fonction .material-icons:hover {
  color: #9356DC;
}
.fonction.fa-regular {
  color: gray;
}
.fonction.fa-regular:hover {
  color: #9356DC;
}
.fonction .fa-solid {
  color: gray;
}
.fonction .fa-solid:hover {
  color: #9356DC;
}

.nouveau {
  color: #008766;
  background-color: #99e2d0;
  padding: 5px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: fit-content;
}

.menu-slide {
  /*image du menu*/
  width: 100%;
  height: 40vh;
}
@media (min-width: 992px) {
  .menu-slide img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
  }
}
@media (max-width: 922px) {
  .menu-slide img {
    object-fit: cover;
    height: 30vh;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .menu-slide img {
    object-fit: cover;
    height: 30vh;
    width: 100%;
  }
}

.menu-carte {
  /*la section qui rergoupe les sous sections menu*/
  background-color: #f6f6f6;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  transform: translate(0, -50px);
  transition: all 1ms linear;
}
.menu-carte .menu-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 20px;
  line-height: 15px;
}
@media (min-width: 992px) {
  .menu-carte .menu-title {
    justify-content: center;
  }
}
.menu-carte .menu-heart {
  padding-top: 30px;
}
@media (min-width: 992px) {
  .menu-carte .menu-heart {
    margin-left: 200px;
  }
}
.menu-carte .menu-section-wrapper {
  width: 100%;
}
@media (min-width: 992px) {
  .menu-carte .menu-section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-between;
  }
}
.menu-carte .menu-section {
  /*entrées plats ou dessert*/
  padding: 15px;
  line-height: 10px;
  height: fit-content;
  margin-left: 25px;
}
.menu-carte .menu-section h2 {
  color: #353535;
  font-style: normal;
}
.menu-carte .menu-section hr {
  border-top: 3px solid #99e2d0;
  width: 7%;
}
@media (min-width: 992px) {
  .menu-carte .menu-section {
    margin-left: 15px;
    width: 30%;
  }
}
@media (max-width: 922px) {
  .menu-carte .menu-section {
    margin-left: 15px;
  }
}
@media (max-width: 768px) {
  .menu-carte .menu-section {
    margin-left: 25px;
  }
}

.menu-section {
  /*entrées plats ou dessert*/
  padding: 15px;
  line-height: 10px;
  height: fit-content;
  margin-left: 25px;
}
.menu-section h2 {
  color: #353535;
  font-style: normal;
}
.menu-section hr {
  border-top: 3px solid #99e2d0;
  width: 7%;
}
@media (min-width: 992px) {
  .menu-section {
    margin-left: 15px;
  }
}
@media (max-width: 922px) {
  .menu-section {
    margin-left: 15px;
  }
}
@media (max-width: 768px) {
  .menu-section {
    margin-left: 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
