.button-shoutout{ /*bouton page d'accueil*/

       
        text-decoration: none;
       @include gradient-background;
        color: white;
        border:none;
        border-radius: 40px;
        padding:15px;
        width:fit-content;
        margin-top:$margin-top;
        position: relative;
         z-index: 1;
       /*animation*/
        /*transform: scale(1);
         transition: transform 400ms;*/

    
        @include margin-auto;
        & a{
            text-decoration:none;
            color:$colour-white;
            font-size:20px;
           
        }
        &::after{
            border-radius: 40px;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(lighten($colour-secondary, 5) , lighten($colour-primary, 5));
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
        /*animation*/
        &:hover {
            &::after {
                opacity: 1;
                
        }
      
      }
    }
    .button-container{
        margin-top:$margin-top;
        margin-bottom: $margin-top;

    }

.button_commander{ /*bouton de commande*/
    text-decoration: none;
    
    @include gradient-background;
     color: white;
     border:none;
     border-radius: 40px;
     padding:25px;
     width:fit-content;
    
    /*animation*/
     transform: scale(1);
    transition: transform 400ms;
 
     @include margin-auto;
     & a{
         text-decoration:none;
         color:$colour-white;
         font-size:20px;
     }
     /*animation*/
     &:hover {
         transform: scale(1.15);
     }
   
   }
