.button-shoutout{ /*bouton page d'accueil*/

       
        text-decoration: none;
        background: linear-gradient($colour-secondary,$colour-primary);
        color: white;
        border:none;
        border-radius: 40px;
        padding:15px;
      
      }


.button_commander{ /*bouton de commande*/

}