.restaurant{
    position: relative;

    a{
        @include padding-card-description;
        p{
          @include flex_row;  
          justify-content: space-between;

        }
   

    }
    @include flex_column-auto;
        border-radius: $border-radius;
         @include margin-auto;
         @include elements-shadow;
         margin-bottom: 15px;
         width:40%;
         min-width: fit-content;
        
        & img{
            object-fit:cover ;
            border-radius: 15px 15px 0px 0px;
            height: 200px;
            width:100%
        }
    @include descktop{ //descktop breakpoint
        @include flex_column-auto;
        border-radius: $border-radius;
         @include margin-auto;
         @include elements-shadow;
         margin-bottom: 15px;
         width:40%;
         min-width: fit-content;
        
        & img{
            object-fit:cover ;
            border-radius: 15px 15px 0px 0px;
            height: 200px;
            width:100%
        }
    }


    @include tablet{ //tablet breakpoint
        @include flex_column-auto;
        border-radius: $border-radius;
        @include margin-auto;
        @include elements-shadow;
        margin-bottom: 15px;
        width:100%;
        min-width: fit-content;
       & img{
           object-fit:cover ;
           border-radius: 15px 15px 0px 0px;
           height: 200px;
           width:100%;
       }
}
    
    @include mobile{ //mobile breakpoint
    @include flex_column-auto;
     border-radius: $border-radius;
     @include margin-auto;
     @include elements-shadow;
     margin-bottom: 15px;
     width:100%;
     min-width: fit-content;
    & img{
        object-fit:cover ;
        border-radius: 15px 15px 0px 0px;
        height: 200px;
        width:100%;
    }
    }
    
     
  }
  
 
 