.restaurant{
    @media (min-width:992px){
        @include flex_column-auto;
        border-radius: $border-radius;
         @include margin-auto;
         @include elements-shadow;
         margin-bottom: 15px;
         width:40%;
         min-width: fit-content;
        
        & img{
            object-fit:cover ;
            border-radius: 15px 15px 0px 0px;
            height: 200px;
            width:100%
        }
    }


    @media (max-width:922px){
        @include flex_column-auto;
        border-radius: $border-radius;
        @include margin-auto;
        @include elements-shadow;
        margin-bottom: 15px;
        width:100%;
        min-width: fit-content;
       & img{
           object-fit:cover ;
           border-radius: 15px 15px 0px 0px;
           height: 200px;
           width:100%;
       }
}
    
    @media (max-width:768px){
    @include flex_column-auto;
     border-radius: $border-radius;
     @include margin-auto;
     @include elements-shadow;
     margin-bottom: 15px;
     width:100%;
     min-width: fit-content;
    & img{
        object-fit:cover ;
        border-radius: 15px 15px 0px 0px;
        height: 200px;
        width:100%;
    }
    }
    
     
  }
  