.restaurant{
    position: relative;

    a{
        @include padding-card-description;
        p{
          @include flex_row;  
          justify-content: space-between;

        }
   

    }
    @media (min-width:992px){
        @include flex_column-auto;
        border-radius: $border-radius;
         @include margin-auto;
         @include elements-shadow;
         margin-bottom: 15px;
         width:40%;
         min-width: fit-content;
        
        & img{
            object-fit:cover ;
            border-radius: 15px 15px 0px 0px;
            height: 200px;
            width:100%
        }
    }


    @media (max-width:922px){
        @include flex_column-auto;
        border-radius: $border-radius;
        @include margin-auto;
        @include elements-shadow;
        margin-bottom: 15px;
        width:100%;
        min-width: fit-content;
       & img{
           object-fit:cover ;
           border-radius: 15px 15px 0px 0px;
           height: 200px;
           width:100%;
       }
}
    
    @media (max-width:768px){
    @include flex_column-auto;
     border-radius: $border-radius;
     @include margin-auto;
     @include elements-shadow;
     margin-bottom: 15px;
     width:100%;
     min-width: fit-content;
    & img{
        object-fit:cover ;
        border-radius: 15px 15px 0px 0px;
        height: 200px;
        width:100%;
    }
    }
    
     
  }
  
  /*i{
    color: rgb(0, 0, 0);
 
    
    &.fa-regular {
        
 
        &.fa-heart{
          
           
          &:hover{
              color:linear-gradient($colour-secondary,$colour-primary);
              transition: all 2s ease-out;
              cursor: pointer; 
            
            
        }
        }
      }
  }*/
 