
/*old code*/

body{
    box-sizing: border-box;
    padding-top: 0;
    text-decoration: none;
    margin:0px;
    margin-top:$margin-top;
  }
  

  footer{
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: gray;
    
  }
  footer a {
    color: white;
    text-decoration: none;
  }