/*police de caractere*/
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Shrikhand&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    
    
  }
  body{
   font-family: 'Roboto', sans-serif;;
  }
    
  .menu-carte{
    h1{
        font-family: 'Shrikhand', cursive;
  }
}