@keyframes spinner-box{

    0%{
     opacity:1;
     z-index: 300;
     }
   
    50%{
     
    
     opacity: 0.5;
     z-index: 150;
  
     
    }
    100%{
     opacity: 0;
     z-index: -1;
 
    }
 
 }
 @keyframes spin{
    0%{
       transform:  rotate(0deg);
       border-width: 10px;

      
    }
    50%{
        transform: rotate(180deg);
        border-width: 1px;
    
       
    }
    100%{
        transform: rotate(360deg);
        border-width: 10px;
        opacity: 0;

        
    }

}
@keyframes spin2{
    0%{
       transform:  rotate(0deg);
       border-width: 1px;
      
    }
    50%{
        transform: rotate(180deg);
        border-width: 10px;
       
    }
    100%{
        transform: rotate(360deg);
        border-width: 1px;
        opacity:0;
        
    }

}


/* spinner */
.spinner{
    height:100%;
    width:100%;
    bottom: 0;
    left: 0;
    right:0;
    top:0;
    background-color: rgba(255,255,255,0.8);
     position:fixed;
    animation:  spinner-box 3s  ease-in-out both;
     display: flex;
    justify-content: center;
     align-items: center;

}
 .spinner div{
     box-sizing: border-box;
     height:100px;
     width:100px;
     position:absolute;
     border: 8px solid transparent;
     border-top-color: $colour-primary ;
     border-radius: 50%;
     animation: spin 3s linear infinite;
     
     }
 .spinner div:nth-child(2){
    box-sizing: border-box;
    position:absolute;
    border: 8px solid transparent;
    border-bottom-color:$colour-secondary;
    border-radius: 50%;
    animation: spin2 3s linear infinite;

}

