.menu-slide{  /*image du menu*/
    width:100%;

    @media (max-width:768px){

        img{
            object-fit:cover ;
            height: 30vh;
            width:100%
    
        }
    }
    

}
.menu-carte{ /*la section qui rergoupe les sous sections menu*/
    background-color: $colour-header;
    @include margin-auto;
   @include  border-radius-up-only;
    width:100%;
    transform: translate(0,-50px);
    transition: all 1ms linear;
  
}
.menu-title{
    @include flex_row;
    font-size:20px;
    line-height: 15px;
}
.menu-section{ /*entrées plats ou dessert*/
    padding: 15px;
    line-height: 10px;
    
    h2{
        color: $colour-footer;
    font-style: normal;
    }
    hr{
        border-top: 3px solid $colour-green-blue;
        width:7%;
    }

}