@mixin nav-shadow ($color){/*shadow navbar*/
    box-shadow: -2px 10px 12px -1px $color;    
}
@mixin margin-auto{
    margin-left:auto;
    margin-right:auto;
}
@mixin margin-small{
 margin-left:15px;
 margin-right:15px;
}
@mixin flex_column{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
align-items: center;
}
@mixin flex_column-auto{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;

}
@mixin flex_row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
@mixin padding-auto{
    padding-left:auto;
    padding-right: auto;
}
@mixin elements-shadow{
    -webkit-box-shadow: 7px 9px 17px 1px rgba(0,0,0,0.4); 
    box-shadow: 7px 9px 17px 1px rgba(0,0,0,0.4);
}
/*@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin btn {
    padding: $grid-gutter;
    @include border;
    color: $colour-primary;
    background: $colour-secondary;
    cursor: pointer;
    &:hover{
        background: $colour-primary;
        color: $colour-accent;
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}*/