/*$colour-primary: #15DEA5;
$colour-secondary: #001534;
$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-invalid: #DB464B;

$heading-shadow-size: .55rem;

$grid-gutter: $layout-margin * .25;*/
$layout-margin: 15px;