$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$color-tertierry:#99E2D0;
$colour-location: #eaeaea;
$colour-header: #f6f6f6;
$colour-white: #fff;
$colour-footer:#353535;
$border-radius:15px;
$margin-top:25px;
$margin-bottom:25px;
$padding-containter:5px;