$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$color-tertierry:#99E2D0;
$colour-location: #eaeaea;
$colour-header: #f6f6f6;
$colour-white: #fff;
$colour-footer:#353535;
$colour-green:#008766;
$colour-green-blue:#99e2d0;
$border-radius:15px;
$margin-top:25px;
$margin-bottom:25px;
$padding-containter:5px;


/*breakpoints*/
/*a map*/
$breakpoint:
("mobile":768px,
"tablette":922px,
"desktop": 992px,
);

