
.fonctionnement-wrapper{
    width:100%;
    padding:$padding-containter;
    @include flex_column-auto;
    text-align: center;
    @include descktop/*descktop*/
    {
       width:100%;
        padding:$padding-containter;
        text-align: center;}
    
    @include tablet {/*tablet*/
        width:100%;
         padding:$padding-containter;
         @include flex_column-auto;
         text-align: center;}
    @include mobile{/*mobile*/
        width:100%;
        padding:$padding-containter;
        @include flex_column-auto;/*flex column*/
        text-align: center;
    }
        


}
.fonctionnement-elements{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
padding: 0 15px 0 15px;

   @include descktop{/*descktop*/
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
 
    @include tablet {/*tab*/
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }

 @include mobile{/*mobile*/
        width:100%;
        padding:$padding-containter;
        @include flex_column;/*flex column*/
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    

}