header {
  margin-top: $margin-top;
  padding-bottom: 15px;
  text-align: center;
  background-color: $colour-header;
  width: 100vw;
  height:65vh;
  
   @include tablet {
    margin-top: $margin-top;
    padding-bottom: 15px;
    text-align: center;
    background-color: $colour-header;
    width: 100vw;
    height: 50vh;
  }

  
  @include descktop {
    margin-top: $margin-top;
    padding-bottom: 15px;
    text-align: center;
    background-color: $colour-header;
    width: 100vw;
    height: 55vh;
    padding-bottom: 25px;
  }
  .presentation {
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    width: 100vw;
    &-location {
      background-color: $colour-location;
    }

    
  }
  @include mobile {
 
    height: 60vh;
    .presentation {
      
      &-shoutout {
        width: 95%;
      }
  
    }
  }
  

 
}



.menu-header {
  margin-top: $margin-top;
  padding-bottom: 15px;
  text-align: center;
  background-color: $colour-header;
  width: 100vw;
  height: 40vh;
  @include mobile {
    margin-top: $margin-top;
    padding-bottom: 15px;
    text-align: center;
    background-color: $colour-header;
    width: 100vw;
    height: 50vh;
  }
  @include tablet {
    margin-top: $margin-top;
    padding-bottom: 15px;
    text-align: center;
    background-color: $colour-header;
    width: 100vw;
    height: 40vh;
  }

  @include descktop {
    margin-top: $margin-top;
    padding-bottom: 15px;
    text-align: center;
    background-color: $colour-header;
    width: 100vw;
    height: 30vh;
    padding-bottom: 20px;
  }
}
