
header{
  margin-top:$margin-top;
  padding-bottom:15px;
  text-align:center;
  background-color:$colour-header;
  width:100vw;
  .presentation{
    display:flex;
    flex-direction: column;
    -ms-flex-align: center;
    width:100%;
   
   
    &-location{
      background-color: $colour-location;
      
    
  }
}
 @include descktop{
    margin-top:$margin-top;
  padding-bottom:15px;
  text-align:center;
  background-color:$colour-header;
  width:100vw;
  height: 50vh;
  .presentation{
    display:flex;
    flex-direction: column;
    -ms-flex-align: center;
    width:100%;
   
   
    &-location{
      background-color: $colour-location;
      
    
  }

  }
 }}


  
 
  