nav{
  @include flex-row;
  justify-content: center;
  height: 60px;
  background-color:$colour-white;
  @include nav-shadow($colour-header);
  
  .logo{
    width: 100%;
    height: 40px;
    object-fit:scale-down;
    @include margin-auto;
    
  }
    & .nav-menu {
      display: block;
       float:left;
      font-size: 25px;
      color:black;
      margin-right: 25px;
     }
    
  @include mobile{
    @include flex-row;
    justify-content: space-evenly;
   & .nav-menu {
    display: block;
    position: absolute;
  left: 20px;
   font-size: 25px;
   color:black;
 }
  }
  @include tablet{
    @include flex-row;
    justify-content: space-evenly;
   & .nav-menu {
    display: block;
    position: absolute;
  left: 20px;
   font-size: 25px;
   color:black;
 }
  }
  @include descktop{
    @include flex-row;
    justify-content: space-evenly;
   & .nav-menu {
    display: block;
    position: absolute;
  left: 20px;
   font-size: 25px;
   color:black;
 }
  }
  
 

}
 
  
