
.restaurant-wrapper{
    & h1{
        text-align: center;
    }
    @media (max-width:992px){/*tablet*/
        @include flex_column-auto;
        width:100%;
         margin-left:15px;
       }
    @media (max-width:922px){/*tablet*/
    @include flex_column-auto;
     width:100%;
      margin-left: 15px;
    }
    @media (max-width:768px){
        @include flex_column;
         width: 100%;
         margin-left: auto;
         margin-right: auto;
   
    }
}
     .restaurant-group{ /*conteneur de deux rest*/
        & a{
            color:black;
        }
        @media (min-width:992px){/*tablet*/
            @include flex_row;
            width:100%;
            margin-left:15px;
         
           }
        @media (max-width:922px){/*tablet*/
            @include flex_column-auto;
            width:100%;
        }
        @media (max-width:768px){
            @include flex_column;
             width:100%;
          
        }
    
     }

    


